@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Quicksand', sans-serif;
font-weight: bold;
}

.placement{
 padding: 160px;
}

.first{
    padding: 10px;
}
.second{
    padding: 10px;
}

 button{
height: 30px;
width: 80px;
background: linear-gradient(to right, #fb5283,#ff3527);
border: none;
border-radius: 20px;
color: white;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

.modal-body{
    padding: 20px;
}

