/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300&family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #fe5cf0;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}


.texposi{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

/* box ka css */
.box1{
    background: linear-gradient(to right, #fb5283,#ff3527);
    height: 250px;
    width: 250px;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    transition: width 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Quicksand', sans-serif;

    
}


.box1 i{
    color: white;
  
}

.box1 img{
    height: 200px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 45%;
left: -20%;


}

.box1 i{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
left: 50%;
display: block;
}
.box1:hover i{
    display: none;
}

.box1:hover{
    width:500px;
   
}
.box1 h1{
    position:fixed;
   
    top:20%;
   left: 20%;
   color: white;

   
   
   }
   
   .box1 h1{
   display: none;
   }
   
   .box1:hover h1{
       display: block;
       
   }

   .box1 button{
       height: 30px;
       width: 90px;
       background-color: white;
       border: none;
       border-radius: 20px;
       box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
   }

   .box1 button{
    display: none;
    }
    
    .box1:hover button{
        display: block;
        cursor: pointer;
        
    }

    .box1 h4{
        position:fixed;
   
        top:40%;
       left: 20%;
       color: white;
    }
    .box1 h4{
        display: none;
        }
        
        .box1:hover h4{
            display: block;
            cursor: pointer;
            
        }
.box2{
    background: linear-gradient(to right, #ceff1d,#27ffb7);
    height: 250px;
    width: 250px;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 120%;
    left:50%;
    transition: width 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Quicksand', sans-serif;
}

.box2 i{
    color: white;
  
}

.box2 img{
    height: 200px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 55%;
left: -20%;


}

.box2 i{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
left: 50%;
display: block;
}
.box2:hover i{
    display: none;
}

.box2:hover{
    width:500px;
}

.box2 h1{
    position:fixed;
   
    top:20%;
   left: 20%;
   color: black;
  

   
   
   }
   
   .box2 h1{
   display: none;
   }
   
   .box2:hover h1{
       display: block;
       
   }

   .box2 button{
       height: 30px;
       width: 90px;
       background-color: white;
       border: none;
       border-radius: 20px;
       box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
   }

   .box2 button{
    display: none;
    }
    
    .box2:hover button{
        display: block;
        cursor: pointer;
        
    }

    .box2 h4{
        position:fixed;
   
        top:40%;
       left: 20%;
       color: black;
    }
    .box2 h4{
        display: none;
        }
        
        .box2:hover h4{
            display: block;
            cursor: pointer;
            
        }


        .helpposi{
            position:fixed;
            top:20%;
      right: 3%;
           color: black;
        }


        .end{
            position: absolute;
    transform: translate(-50%,-50%);
    top: 165%;
left: 50%;

        }


a{
    text-decoration: none;
}


@media only screen and (max-width:560px){

    .links{
       padding: 2px;
       left: 45%;
    }

}

@media only screen and (max-width:560px){
 .links{
   margin: 20px;
   flex-direction: column;
 }

 .box1{
    height:120px;
    width: 120px;
     left: 60%;
     transition: height 0.5s ,width 0.5s;
 }
 .box1 img{
     height: 60px;
     left: 50%;
     top: 30%;
    
 }
 .box1 i{
     display: none;
 }
 .box1:hover{
     height: 150px;
     width: 150px;
 }
.box1 h1{
    display: block;
    font-size: 12px;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
}

.box1 i{
    position:absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
}
 .box1 h4{
     display: none;
 }

.box1 button{
    display: none;
}

.media1{
    display: none;
}

/* box2
 */
 .box2{
    height:120px;
    width: 120px;
     left: 60%;
     transition: height 0.5s ,width 0.5s;
     position:absolute;
     transform: translate(-50%,-50%);
     top: 80%;
     left: 61%;

 }
 .box2 img{
     height: 60px;
     left: 50%;
     top: 30%;
    
 }
 .box2 i{
     display: none;
 }
 .box2:hover{
     height: 150px;
     width: 150px;
 }
.box2 h1{
    display: block;
    font-size: 12px;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
}

.box2 i{
    position:absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
}
 .box2 h4{
     display: none;
 }

.box2 button{
    display: none;
}

.media2{
    display: none;
}

.end{
    font-size: 7px;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 100%;
    left: 60%;
}

.text p{
    font-size: 16px;
    font-weight: 9px;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 10%;
    left: 50%;
}

}




















